03-ws/0302-ws-javaconfig-client/src/main/schemas/userDetailsSchema.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://localhost:10302/0302-ws-javaconfig-service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://lkrnac.net/book/eiws/chapter03/ws/javaconfig/model" targetNamespace="http://lkrnac.net/book/eiws/chapter03/ws/javaconfig/model">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://localhost:10302/0302-ws-javaconfig-service">

  <xs:element name="UserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FirstName" type="xs:NCName"/>
        <xs:element name="LastName" type="xs:NCName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="UserRequest">
    <xs:complexType>
      <xs:attribute name="Email">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^\.]+\..+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="UserDetailsResponse">
    <wsdl:part element="sch:UserDetailsResponse" name="UserDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UserRequest">
    <wsdl:part element="sch:UserRequest" name="UserRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserDetailsPort">
    <wsdl:operation name="UserDetails">
      <wsdl:output message="tns:UserDetailsResponse" name="UserDetailsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User">
      <wsdl:input message="tns:UserRequest" name="UserRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserDetailsPortSoap11" type="tns:UserDetailsPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="UserDetails">
      <soap:operation soapAction=""/>
      <wsdl:output name="UserDetailsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="User">
      <soap:operation soapAction=""/>
      <wsdl:input name="UserRequest">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserDetailsPortService">
    <wsdl:port binding="tns:UserDetailsPortSoap11" name="UserDetailsPortSoap11">
      <soap:address location="/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>